<app-navbar></app-navbar>
<div class="container mt-5">
    <form>
        <div class="form-group col-6">
          <label for="first-Name">first-Name</label>
          <input type="text" class="form-control" id="first-Name">
          <label for="last-Name">last-Name</label>
          <input type="text" class="form-control" id="last-Name" >
          <label for="Email-address">Email-address</label>
          <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="form-group col-6">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<app-footer></app-footer>